{%- assign _tag_max_size = 1 -%}
{%- assign _tag_min_size = 1 -%}
{%- assign _tag_cur_size = 1 -%}

{%- assign _collections = include.collections | replace:' ','' | split: ',' -%}
{%- assign _tags = '' | split : ',' -%}

{%- for _collection in _collections -%}
  {%- assign _collection_name = _collection -%}
  {%- assign _collection_obj = site[_collection] -%}
  {{_collection_obj.title}}<br>

  {%- if _collection_name == 'posts' -%}
    {%- assign _tag_groups = site.tags -%}
    {%- for _tag_group in _tag_groups -%}
      {%- assign _tag = '' | split: ',' -%}
      {%- assign _tag = _tag | push: _tag_group[0] -%}
      {%- assign _tag = _tag | push: _tag_group[1].size -%}
      {%- assign _tags = _tags | push: _tag -%}
    {%- endfor -%}
  {%- else -%}
    {%- assign _tag_groups = _collection_obj | map: 'tags' | join: ',' | split: ',' | group_by: tag -%}
    {%- for _tag_group in _tag_groups -%}
      {%- assign _tag = '' | split: ',' -%}
      {%- assign _tag = _tag | push: _tag_group.name -%}
      {%- assign _tag = _tag | push: _tag_group.size -%}
      {%- assign _tags = _tags | push: _tag -%}
    {%- endfor -%}
  {%- endif -%}


{%- endfor -%}

{%- for _tag in _tags -%}
  {{_tag[0]}} - {{_tag[1]}}<br>
{%- endfor -%}


{%- for _tag in _tags -%}
  {%- assign _tag_cur_size = _tag[1] -%}
  {%- if _tag_cur_size > _tag_max_size -%}
    {%- assign _tag_max_size =  _tag_cur_size -%}
  {%- endif -%}
  {%- if _tag_cur_size < _tag_min_size -%}
    {%- assign _tag_min_size = _tag_cur_size -%}
  {%- endif -%}
{%- endfor -%}
{%- assign _tag_gap_size =  _tag_max_size | minus: _tag_min_size | plus: 1 | divided_by: 4 -%}
{%- if _tag_gap_size < 1 -%}
  {%- assign _tag_gap_size = 1 -%}
{%- endif -%}

{%- assign _number_of_posts = site.posts.size -%}
{%- assign _number_of_docs = site.docs.size -%}
{%- assign _number_of_all_docs = _number_of_posts | plus: _number_of_docs -%}

<div class="site-tags js-tags">
  <ul class="menu">
    <li>
      <button type="button" class="button button--secondary button--pill tag-button tag-button--all" data-encode="">
        Show All<div class="tag-button__count">{{ _number_of_all_docs }}</div>
      </button>
    </li>
    {%- for _tag in _tags -%}
      {%- assign _tag_cur_size = _tag[1] -%}
      {%- assign _tag_min_1 = _tag_min_size -%}
      {%- assign _tag_max_1 = _tag_min_1 | plus: _tag_gap_size -%}
      {%- assign _tag_min_2 = _tag_max_1 -%}
      {%- assign _tag_max_2 = _tag_min_2 | plus: _tag_gap_size -%}
      {%- assign _tag_min_3 = _tag_max_2 -%}
      {%- assign _tag_max_3 = _tag_min_3 | plus: _tag_gap_size -%}
      {%- assign _tag_min_4 = _tag_max_3 -%}
      {%- assign _tag_max_4 = _tag_min_4 | plus: _tag_gap_size -%}
      {%- if _tag_cur_size >= _tag_min_1 and _tag_cur_size < _tag_max_1 -%}
        {%- assign _c_index = 1 -%}
      {%- elsif _tag_cur_size >= _tag_min_2 and _tag_cur_size < _tag_max_2 -%}
        {%- assign _c_index = 2 -%}
      {%- elsif _tag_cur_size >= _tag_min_3 and _tag_cur_size < _tag_max_3 -%}
        {%- assign _c_index = 3 -%}
      {%- elsif _tag_cur_size >= _tag_min_4 and _tag_cur_size < _tag_max_4 -%}
        {%- assign _c_index = 4 -%}
      {%- else -%}
        {%- assign _c_index = 4 -%}
      {%- endif -%}
      <li><button type="button" class="button button--pill tag-button tag-button-{{ _c_index }}" data-encode="{{ _tag[0] | strip | url_encode }}">
          <span>{{ _tag[0] | strip }}</span><div class="tag-button__count">{{ _tag[1] }}</div>
        </button>
      </li>
    {%- endfor -%}
  </ul>
</div>
